@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;600&display=swap');

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background: white;
  box-sizing: border-box;
  padding: 16px;
  color: black;
}

nav > h1 {
  margin: 0;
  font-size: 2rem;
  text-shadow: 2px 2px 0px #66A182, 4px 4px 0px rgba(102, 161, 130, 0.4);
}

nav > ul {
  list-style-type: none;
  padding: 0;
  font-size: 1.2rem;
}

nav > ul > li {
  display: inline-block;
  padding: 0 0.7rem;
  position: relative;
  cursor: pointer;
  border-radius: 10%;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav > ul > li:hover,
nav > ul > li:active {
  background: #CAFFB9;
}

nav > ul > li a:hover,
nav > ul > li a:active {
  color: #2E4057;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 40px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__links li {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__links li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.main_footer__links li a:hover,
.main_footer__links li a:active {
  background: lightblue;
  border-radius: 20%;
  color: darkblue;
} 