{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    {% block css_files %}{% endblock css_files %}
  </head>
  <body>
    <header>
        <h1><a href="{% url 'home' %}">Blog'o'Roddy</a></h1>
        <nav>
            <a href="{% url 'read-later' %}">Favorites</a>
            <a href="{% url 'index' %}">All Posts</a>
            <a href="{% url 'about' %}">About</a>
        </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
