{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock title %}</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href='{% static 'poster/base.css' %}' /> 
    {% block css_files%}{% endblock css_files %}
  </head>
  <body>
    <header>
      <nav>
        <h1>Blog-O-Roddy</h1>
        <ul>
          <li><a href="{% url 'home' %}">home</a></li>
          <li><a href="{% url 'about' %}">about</a></li>
          <li><a href="{% url 'read-later' %}">read later</a></li>
          <li><a href="{% url 'index' %}">all posts</a></li>
        </ul>
      </nav>
      <div class="background"></div>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
