{% extends 'base.html' %} 
{% load static %}


{% block title %}Blog'o'roddy{% endblock %} {% block content%}

{% block css_files %}
<link rel='stylesheet' href='{% static 'blog/partials/post.css' %}' />
<link rel='stylesheet' href='{% static 'blog/index.css' %}'>
{% endblock  %}

<section id="welcome">
  <header>
    <img src="{% static 'blog/images/sean.jpeg' %}" alt="Sean - the author" />
    <h2>Welcome to Roddy's Blog.</h2>
  </header>
  <p>
    ~probably some quote about evolution or sun exposure~
  </p>
</section>
<section id="latest-posts">
  <h2>My Latest Posts</h2>
  <ul>
    {% for post in posts %}
      {% include 'poster/partials/post.html' %}
    {% endfor %}
  </ul>
</section>
<section id="about">
  <h2>What I Do</h2>
  <p>
I got shit to say! glad you are here to read it. I have a passion for occasionally beating my roomate in chess.  </p>
  <p>
    My mission is to make sure you are aware of my thoiughts and whatnot. At least that's this blog's mission
  </p>
</section>
{% endblock %}
