{% extends 'base.html' %} 
{% load static %}


{% block title %}My Blog{% endblock %} {% block content%}

{% block css_files %}
<link rel='stylesheet' href='{% static 'blog/partials/post.css' %}' />
<link rel='stylesheet' href='{% static 'blog/index.css' %}'>
{% endblock  %}

<section id="welcome">
  <header>
    <img src="{% static 'blog/images/sean.jpeg' %}" alt="Sean - the author" />
    <h2>Sean's Blog</h2>
  </header>
  <p>
    Hey, My name is Sean and I love to talk about tech and the world. Please
    keep reading and have a great life!!
  </p>
</section>
<section id="latest-posts">
  <h2>My Latest Posts</h2>
  <ul>
    {% for post in posts %}
      {% include 'blog/partials/post.html' %}
    {% endfor %}
  </ul>
</section>
<section id="about">
  <h2>What I Do</h2>
  <p>
    I love programming, helping others, and expolring new tech possibilities
  </p>
  <p>
    My mission is to cmaintain steady growth as a developer and answer questions
    for others on the same path
  </p>
</section>
{% endblock %}
